$max-xxxs: "only screen and (max-width : 319px)";
$max-xxs: "only screen and (max-width : 519px)";
$max-xs: "only screen and (max-width : 767px)";
$max-sm: "only screen and (max-width : 991px)";
$max-md: "only screen and (max-width : 1199px)";

$min-xxs: "only screen and (min-width : 320px)";
$min-xs: "only screen and (min-width : 520px)";
$min-sm: "only screen and (min-width : 768px)";
$min-md: "only screen and (min-width : 992px)";
$min-lg: "only screen and (min-width : 1200px)";
$min-lg2: "only screen and (min-width : 1400px)";



$xxs: "only screen and (min-width : 520px)  and (max-width : 767px)";
$xs: "only screen and (min-width : 768px) and (max-width : 991px)";
$sm: "only screen and (min-width : 992px) and (max-width : 1199px)";
$md: "only screen and (min-width : 1200px) and (max-width : 1199px)";

$sm-md: "only screen and (min-width : 768px) and (max-width : 1199px)";
