.m-section {
    &__main {
      &--title {
        font-size: 50px;
        color: white;
        text-align: center;
      }
      &--inner {
        display: block;
        width: 50%;
        background-color: purple;
        margin-left: auto;
        margin-right: auto;
      }
    }

}
